---

---
<div class="footer">
    <div>
        <div>
            <p>Space for a Logo</p>
        </div>
        <div>
            <p></p>
            <a href="/impressum">Impressum</a>
        </div>
    </div>
    <p>Footer</p>

</div>
<style>
    .footer {
        height: 120px;
    }
</style>