---

---
<div class="header">
    <p>Datareplication.io</p>
    <p>Example</p>
</div>
<style>
    .header {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
    }

</style>