---
interface Props {
    href: string;
    text: string;
}
const {href, text} = Astro.props
---
<a class="learn-more-button" href={href}>
    {text}
</a>
<style>
    .learn-more-button {
        display: flex;
        width: 150px;
        height: 50px;
        background-color: rgb(238, 235, 226, 0.4);
        color: #FF5A55;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 10px;

    }

    .learn-more-button:hover {
        color: #e23e38;
        background-color: rgb(238, 235, 226, 0.8);
    }
</style>