---
import Logo from './logos/Logo.astro';
import GitHubLogo from './logos/GitHubLogo.astro';
import Link from './Link.astro';
---
<div class="header">
    <div class="content-box">
        <a class="logo" href="/">
            <Logo/>
        </a>
        <h2>Datareplication.io</h2>
        <div class="content-right">
            <Link href="/spec" text="Spec"/>
            <Link href="/datareplication-java" text="Javadoc"/>
            <a class="github-logo" href="https://github.com/datareplication" target="_blank">
                <GitHubLogo/>
            </a>
        </div>
    </div>
</div>
<style>
    .header {
        padding-top: 20px;
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 30px;
            margin: 0;
        }
    }

    .content-box {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 599px) {
            width: 100%;
        }
    }

    .content-right {
        width: 220px;
        display: flex;
        align-items: center;
        margin-right: 30px;
        justify-content: space-between;
    }

    a {
        font-size: 20px;
        margin: 5px;
    }

    .logo {
        height: 60px;
        margin-left:20px ;
    }

    .github-logo {
        display: inline-block;
        height: 26px;
        width: 26px;
    }
</style>