---
interface Props {
    href: string;
    text: string;
    title: string;
}
const {href, text, title} = Astro.props
---
<a href={href} title={title}>{text}</a>
<style>
    a {
        text-decoration: underline #FF5A55;
        color: inherit;

    }

    a:hover {
        text-decoration: underline #e23e38;
        transition: text-decoration 1000ms linear;
    }
</style>