---
import FeedAndSnapshotExplanationGraphic from '../graphics/FeedAndSnapshotExplanationGraphic.astro'
---
<div class="description-element">
    <h2>How it works</h2>
    <div class="explanation-graphic">
        <FeedAndSnapshotExplanationGraphic/>
    </div>
    <ul>
        <li>
            <p>Create Data Exports</p>
            Generate complete data exports using snapshots. Each snapshot captures a specific data point on a given date, ensuring an accurate record.
        </li>
        <li>
            <p>Schedule Periodic Updates</p>
            Keep your consumers up to date by scheduling regular snapshots. This ensures that your data remains current and reliable.
        </li>
        <li>
            <p>Utilize Continuous Data Feeds</p>
            Implement continuous data feeds for a constant stream of updates. You can start consuming a feed from any available point, providing flexibility in data access.
        </li>
        <li>
            <p>Combine Snapshots and Feeds</p>
            Integrate snapshots with continuous feeds for an efficient data publishing and consumption system between (micro)services. This combination ensures comprehensive and up-to-date data exchange.
        </li>
        <li>
            <p>Focus on Recent Changes</p>
            For consumers only interested in the latest updates, a feed-only implementation is ideal. This allows them to stay informed with the most recent changes without needing complete historical data.
        </li>
    </ul>
</div>
<style>
    .description-element {
        width: calc(80% - 40px);
        margin: 100px auto 100px;
    }
</style>