---
import Button from '../Button.astro'
---
<div class="hero-element">
    <h1>Datareplication.io</h1>
    <div class="hero-element-text">

        <p>This data format and its reference implementation enable the asynchronous replication of data between
            multiple independent systems.
            Built on top of HTTP and open web standards, it ensures high compatibility and ease of integration.
            The system supports both near real-time replication and snapshot replication, providing flexibility to meet
            various data synchronization needs.
            With this solution, data can be efficiently and reliably exchanged between different platforms.
            This opens up numerous possibilities for use in distributed and decentralized IT infrastructures.</p>
    </div>
    <div class="hero-element-buttons">
        <Button href="/spec" text="Learn more"/>
        <Button href="https://github.com/datareplication" text="Try out"/>
    </div>
</div>

<style>
    .hero-element {
        width: 80%;
        min-height: 300px;
        margin: 100px auto 30px;
    }

    .hero-element-text {
        width: 80%;
        margin: auto;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 50px;
    }

    .hero-element-buttons {
        width: 80%;
        margin: 10px auto auto;
        display: flex;
    }
</style>