---
import Button from '../Button.astro'
---
<div class="hero-element">
    <h1>Data Synchronization over HTTP</h1>
    <div class="hero-element-text">
        Our data format and reference implementation enable asynchronous replication of data across multiple independent systems. Built on HTTP and open web standards, it offers high compatibility and easy integration. The system supports both near real-time and snapshot replication, catering to diverse data synchronization needs. With this solution, data can be efficiently and reliably exchanged between different platforms, unlocking numerous possibilities for distributed and decentralized IT infrastructures.
    </div>
    <div class="hero-element-buttons">
        <Button href="/spec" text="Quickstart"/>
        <Button href="https://github.com/datareplication" text="Example"/>
    </div>
</div>

<style>
    .hero-element {
        width: 80%;
        min-height: 300px;
        margin: 100px auto 30px;
        @media screen and (max-width: 599px) {
            width: 90%;
        }
    }

    .hero-element-text {
        width: 80%;
        margin: auto;
        @media screen and (max-width: 599px) {
            width: 100%;
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 50px;
        @media screen and (min-width: 451px) and (max-width: 599px){
            font-size: 3rem;
        }
        @media screen and (max-width: 450px) {
            font-size: 2.5rem;
        }
    }

    .hero-element-buttons {
        width: 80%;
        margin: 10px auto auto;
        display: flex;
        @media screen and (max-width: 599px) {
            justify-content: center;
        }
    }

</style>