---

---
<div class="teaser-element">
    <h2 class="teaser-header">Benefits</h2>
    <div class="teaser-content">
        <div class="teaser-content-box">
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Interoperable</h3>
                <p class="teaser-content-text">This system offers the option to use HTTP features like caching,
                    authentication, and compression. It supports text and binary data, and integrates seamlessly with
                    existing HTTP infrastructure, minimizing additional infrastructure needs. This simplifies deployment
                    and leverages established web technologies for robust, scalable solutions.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Multipurpose</h3>
                <p class="teaser-content-text">Entity formats allow for the combination of different feed and snapshot
                    formats, enabling you to meet a wide range of replication requirements.
                    By leveraging these versatile formats, you can efficiently handle diverse data synchronization
                    scenarios, ensuring that various replication needs are effectively addressed.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Lightweight</h3>
                <p class="teaser-content-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Rollback</h3>
                <p class="teaser-content-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor
                    sit  amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
    </div>
</div>
<style>
    .teaser-element {
        padding-top: 40px;
    }

    .teaser-content {
        background-color: #EEEBE2;
    }

    .teaser-content-box {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .teaser-content-element {
        margin: 20px 20px 30px;
        width: 25%;
    }

    .teaser-content-header {
        margin-bottom: 10px;
    }

    .teaser-header {
        margin-left: calc(10% + 20px);
        margin-bottom: 10px;
    }
</style>