---

---
<div class="teaser-element">
    <h2 class="teaser-header">Benefits</h2>
    <div class="teaser-content">
        <div class="teaser-content-box">
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Interoperable</h3>
                <p class="teaser-content-text">Our system utilizes HTTP features like caching, authentication, and compression,
                    supporting both text and binary data. Integrating within your existing HTTP infrastructure,
                    it minimizes the need for additional setup. This simplifies deployment and leverages established web technologies
                    to provide robust, scalable solutions.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Multipurpose</h3>
                <p class="teaser-content-text">Entity formats enables the combination of different feed and snapshot formats,
                    meeting a wide range of replication requirements. Enables you to handle diverse data synchronization scenarios.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Lightweight</h3>
                <p class="teaser-content-text">The feed and snapshot message format utilizes the standard HTTP multipart format,
                    supported by HTTP headers to enable navigation between pages. A standardized design simplifies the implementation
                    of your own consumer, or you can use our reference implementation.</p>
            </div>
            <div class="teaser-content-element">
                <h3 class="teaser-content-header">Rollback</h3>
                <p class="teaser-content-text">Our snapshots are fully independent and can be stored in any storage system like a filesystem, S3 or a database,
                    unlike other replication techniques. This allows you to implement your own distribution over HTTP.
                    Rolling back to a previous state is as simple as an HTTP redirect to another snapshot, ensuring an
                    efficient data management process.</p>
            </div>
        </div>
    </div>
</div>
<style>
    .teaser-element {
        padding-top: 40px;
    }

    .teaser-content {
        background-color: #EEEBE2;
        @media screen and (max-width: 599px) {
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }

    .teaser-content-box {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        @media screen and (max-width: 599px) {
            justify-content: normal;
            width: 90%;
            display: block;
        }
    }

    .teaser-content-element {
        margin: 20px 20px 30px;
        width: 25%;
        @media screen and (max-width: 599px) {
            width: 100%;
            overflow: hidden;
            overflow-wrap: break-word;
            margin: 20px 0 0;
        }
    }

    .teaser-content-header {
        margin-bottom: 10px;
    }

    .teaser-header {
        margin-left: calc(10% + 20px);
        margin-bottom: 10px;

        @media screen and (max-width: 599px) {
            margin-left: 20px;
        }

    }

    @media screen and (max-width: 599px) {

    }
</style>